@import "tailwindcss";

@layer base {
  body {
    background-color: #0d0d12;
    color: white;
    font-family: 'Inter', sans-serif;
  }
}

.perspective-1000 {
    perspective: 1000px;
}

.text-gradient-robust {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #8b5cf6, #f472b6);
}

.glass {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
